<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <div th:fragment="assetList_contents">
        <div class="page-header">
            <h1>ユーザー一覧</h1>
        </div>
        <table class="table table-bordered table-hover table-striped">
            <tr>
                <th class="info col-sm-2">名前</th>
                <th class="info col-sm-2">値段</th>
                <th class="info col-sm-2">購入月</th>
                <th class="info col-sm-2">予定使用期間（○ヶ月）</th>
                <th class="info col-sm-2"></th>
            </tr>
            <tr th:each="asset:${assetList}">
                <td th:text="${asset.assetName}"></td>
                <td th:text="${asset.assetPrice}"></td>
                <td th:text="${asset.purchaseDate}"></td>
                <td th:text="${asset.usedTerm}"></td>
                <td>
                    <a class="btn btn-primary" th:href="@{'/assetDetail/'+${asset.assetId}}">詳細</a>
                </td>
            </tr>
        </table>
        <label class="text-info" th:text="${result}">結果表示</label><br />

    </div>

</body>

</html>
