<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <div th:fragment="assetGlaf_contents">
        <div class="page-header">
            <h1>月々の資産グラフ</h1>
        </div>
        <div>
            <canvas id="assetGlaf"></canvas>
            <script type="text/javascript" th:inline="javascript">
                var ctx = document.getElementById("assetGlaf").getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: /*[[ ${label} ]]*/,
                        datasets: [{
                            label: 'ひと月あたりの資産額',
                            data:  /*[[ ${point} ]]*/,
                            backgroundColor: "rgba(137, 196, 255,1)",

                        },]
                    },
                    options: {
                        scales: {
                            yAxes: [
                              {
                                ticks: {
                                  beginAtZero: true,
                                  min: 0,
                                  callback: function(value){
                                      return value+"円";
                                    },

                                }
                              }
                            ]
                          }
                    }
                });

            </script>
        </div>
    </div>
</body>

</html>
